body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#main {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head {
    height: 100px;
    background-color: rgb(68, 66, 66);
    margin-bottom: 5px;
}

#nav {
    display: flex;
}

#head-link {
    height: 60px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6d6a6a;
    margin-bottom: 5px;
    clear: both;
}

#btn-head-link {
    float: left;
    margin-left: 5px;
    height: 100%;
    width: 100px;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

#btn-head-link:hover {
    cursor: pointer;
    background-color: red;
}

#left {
    width: 10%;
    min-height: 400px;
    float: left;
    background-color: #6b7a6b;
    margin-bottom: 5px;
    text-align: center;
}

#left a {
    text-decoration: none;
    color: wheat;
}

#left a:hover {
    cursor: pointer;
    background-color: brown;
}

#content {
    width: 78.4%;
    min-height: 400px;
    float: left;
    background-color: wheat;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#right {
    width: 10%;
    min-height: 400px;
    background-color: #6b7a6b;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}

#btn_ADS {
    width: 90%;
    height: 50px;
    position: relative;
    margin-top: 10px;
    align-content: center;
}

#btn_ADS:hover {
    cursor: pointer;
    background-color: blue;
}

#footer {
    height: 50px;
    clear: both;
    background-color: #535358;
    text-align: center;
    align-content: center;
}